{%extends 'layout.html'%}

{% block content %}

<div style="display:flex; flex-direction: column; justify-content:center; align-items: center; width: 100%;">
    <img src="https://png.pngtree.com/thumb_back/fh260/background/20210115/pngtree-blue-modern-city-skyline-business-banner-background-image_519692.jpg "
        width="1920" height="500">
</div>

<div class='container mt-5' style="justify-content:space-between">

  <div class="row row-cols-1 row-cols-md-2 ms-auto me-auto">

      <div class="card" >
          
          <div class="card-body">
            <h5 class="card-title">Web Findind Roommate</h5>
            <p class="card-text">เว็บหารูมเมท เป็นเว็บที่เอาไว้ใช้หารูมเมทที่มีไลฟ์สไตล์ที่ตรงกันหรืออาจจะมีนิสัยตามที่ต้องการในการใช้ชีวิตอยู่ร่วมกัน</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            
          </div>
        </div>

        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">About Web Findind Roommate</h5>
            <p class="card-text">เว็บนี้ถูกสร้างขึ้นมาเพื่อ สร้างความสะดวกสบายแก่ผู้ที่ต้องการหารูมเมท เพื่อหารูมเมทตามที่เราต้องการที่จะต้องมาใช้ชีวิตอยู่ร่วมกัน</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            
          </div>
        </div>



  </div>

</div>



{% endblock %}