{%extends 'layout.html'%}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Find for Roommate</h1>
            <p class="lead fw-normal text-white-50 mb-0">See the announcement for a roommate here</p>
        </div>
    </div>
</header>



<div class= 'container mt-5'>
    <div class="row">
    {% for postfind in posts %}
    

    <div class="col-sm-6">
        
        <div class="card text-black bg-light mb-3">
            <div class="card-header">User001 (เพศชาย)</div>
            <div class="card-body">
                <h5 class="card-title">{{postfind.dormName}} {{postfind.haveRoom}}</h5>
                <p class="card-text">{{postfind.comment}}</p>
                <a href="#" class="btn btn-primary">อ่านรายละเอียด</a>
            </div>
        </div>
    </div>
    



    {% endfor %}
    </div>
</div>


<!--
<div class = 'container mt-5'>

<body>


<div class="row">
    <div class="col-sm-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">User001 (เพศชาย)</div>
            <div class="card-body">
                <h5 class="card-title">การ์เด้นคอร์ท คอนโด (มีห้องแล้ว)</h5>
                <p class="card-text">หาคนชอบรักษาความสะอาดอยู่กันแบบสบายๆเป็นกันเองครับ</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card text-white bg-primary mb-3" >
            <div class="card-header">User002 (เพศชาย)</div>
            <div class="card-body">
                <h5 class="card-title">เกษมสุขคอนโด (ยังไม่มีห้อง)</h5>
                <p class="card-text">หาคนเป็นมิตร friendly มีมารยาทดี</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card text-white bg-success  mb-3" >
            <div class="card-header">User003 (เพศหญิง)</div>
            <div class="card-body">
                <h5 class="card-title">คริสตัลการ์เด้น (ยังไม่มีห้อง)</h5>
                <p class="card-text">หาคนรักสะอาด เคารพพื้นที่ส่วนตัว มีอะไรให้คุยกัน</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card text-white bg-success  mb-3" >
            <div class="card-header">User004 (เพศชาย)</div>
            <div class="card-body">
                <h5 class="card-title">คราม สุขุมวิท 26 (มีห้องแล้ว)</h5>
                <p class="card-text">ยังไงก็ได้ค้าบขอให้เข้ากับเราได้ ลองมา Make friend กันดู</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card text-dark  bg-light  mb-3" >
            <div class="card-header">User005 (เพศหญิง)</div>
            <div class="card-body">
                <h5 class="card-title">แกรนด์ พาราโน่ (ยังไม่มีห้อง)</h5>
                <p class="card-text">รักความสะอาดเป็นระเบียบ รับได้ที่เราชอบเปิดเพลงเกาหลีหรือสากล ฮ่าๆๆสลับกันทำความสะอาดห้องได้ไม่ขี้โวยวายค่ะ</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card text-dark  bg-light  mb-3" >
            <div class="card-header">User006 (เพศชาย)</div>
            <div class="card-body">
                <h5 class="card-title">จีเอส เฮ้าส์ซิ่ง (มีห้องแล้ว)</h5>
                <p class="card-text">เคารพความเป็นส่วนตัว ไม่นำของใช้ส่วนตัวของเรามาใช้โดยไม่ได้ขอก่อน หลังเที่ยงคืนไม่เสียงดัง เป็นคนพูดตรงไปตรงมา</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card text-white bg-danger  mb-3" >
            <div class="card-header">User007 (เพศหญิง)</div>
            <div class="card-body">
                <h5 class="card-title">เจ คอนโด พระราม 2 (ยังไม่มีห้อง)</h5>
                <p class="card-text">อยากได้คนที่ไม่สกปรก ไม่ขโมยของอะค่ะ คุยกันได้ ไม่ขี้น้อยใจ ใช้เหตุผล</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card text-white bg-danger  mb-3" >
            <div class="card-header">User008 (เพศชาย)</div>
            <div class="card-body">
                <h5 class="card-title">คลาส สยาม (ยังไม่มีห้อง)</h5>
                <p class="card-text">สะอาด  นิสัยดี เป็นมิตร เฟรนลี่ ไม่ติดหรู ใช้ชีวิตเรียบง่าย ซื่อสัตย์</p>
            </div>
        </div>
    </div>

</div>
</body>
</div>
-->


{% endblock %}